#h2madlib{
    margin-top:10%;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:3rem;
    margin-bottom: 50px;
}

#madlibcontent {
    font-family:"Comic Sans MS", cursive, sans-serif;
    margin-top:10%;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.5rem;
}

.loader {
    margin:0 50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }